body {
	background-color: #E9EBED;
}
.background {
	background: url("Assets/Web_Background.png");
	background-size: 100% 100%;
	height: 100%;
	background-repeat: no-repeat;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding-top:2%;
  	padding-bottom: 4%;
  	margin-bottom: 6%;
}
table.navibar {
	width: 100%;
}
th.navibar {
	height: 45px;
	border: 3px solid white;
	width: 130px;
	text-align: center;
}
a.navibar {
	color:white;
}
h1.introduction {
	text-align: center;
	font-weight: bolder;
	font-size: 350%;
	margin: auto;
	padding: auto;
	color: #FFFFFF;
}
.linkedin {
	width: 5%;
	display: block;
	margin-top: 8%;
  	margin-left: auto;
  	margin-right: auto;
}
h1.outline {
	text-align: center;
	font-weight: bold;
	font-size: 280%;
	margin-top: 6%;
	margin-bottom: 6%;
}
.profile_introduction {
	width: 90%;
	margin-bottom: 1%;
}
h1.profile {
	font-size: 185%;
	font-weight: normal;
	text-align: justify;
	display: inline-flex;
	align-items: center;
}
img.profile {
	width: 15%;
	height: 15%;
	border-radius: 50%;
	display: inline-flex;
	margin-right: 3%;
	margin-left: 10%;
}
.profile_display {
	display: flex;
	margin-left: 3%;
	margin-right: 3%;
}
.profile_section {
	margin-top: 5%;
	margin-bottom: 3%;
}
.skills_section {
	margin-top: 5%;
	margin-bottom: 3%;
}
h2.outline {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 220%;
	margin-bottom: 8%;
}
p.information {
	font-weight: bold;
	font-size: 140%;
	margin-left: 10%;
	margin-bottom: 0%;
}
p.content {
	font-size: 125%;
	margin-left: 10%;
	margin-top: 0%;
	margin-bottom: 6%;
}
li.skills {
	font-weight: bold;
	font-size: 150%;
	margin-left: 10%;
	margin-bottom: 2%;
}
.education {
	display: flex;
	margin-top: 7%;
	margin-bottom: 15%;
}
.edu1 {
	text-align: right;
	padding-right: 2%;
	border-right-style: solid;
}
.edu2 {
	text-align: left;
	padding-left: 2%;
	border-left-style: solid;
}
.edu_info {
	font-weight: bold;
	font-size: 140%;
	margin-bottom: 0%;
}
.list {
	width: 80%;
	font-size: 140%;
	margin-left: 10%;
	margin-bottom: 18%;
}
.contacts {
	display: flex;
	margin-top: 7%;
}
.contact_header {
	font-weight: bold;
	font-size: 140%;
	margin-bottom: 0%;
}
.contact_content {
	font-size: 115%;
	margin-bottom: 0%;
}
.logo {
	width: auto;
	height: 100px !important;
}
.feedback_button {
	margin-top: 7%;
}
.feed {
	text-align: center;
	margin-bottom: 0%;
	color: #FFFFFF;
	margin-top: 6%;
}
.feedback {
	margin-left: 0%;
}
.form_field {
	margin-left: 4%;
	margin-bottom: 6%;
}
.form_information {
	font-weight: bold;
	font-size: 160%;
}
.email_info {
	margin-top: 1%;
	font-weight: 100%;
}