{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "styles.css" %}">
</head>

<body>
	<div class="container-fluid" style="padding-left: 0%; padding-right: 0%;">
		<div class="background">
{% include 'header.html' %}
{% block content %}{% endblock %}
{% include 'footer.html' %}
	</div>
</body>

</html>
