{% extends 'base.html' %}
{% load static %}
{% block head %}
	<title>Feedback</title>
{% endblock %}
{% block content %}
			<h1 class="introduction">Hi</h1>
			<h1 class="introduction">I'm I Made Krisna Dwitama</h1>
			<h1 class="introduction">Front End Web Developer</h1>
			<div class="feed">
				<h2>If you have any feedback</h2>
				<h2>Please fill the form below</h2>
			</div>
		</div>
		<div class="form_field col-sm-11 text-center">
			<h1>Feedback:</h1>
			<form>
			  <div class="form-group">
			    <textarea class="feedback" rows="6" cols="120" placeholder="Input feedback here"></textarea>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
{% endblock %}