			<div class="col-sm-12" style="padding-top:15px; padding-bottom: 115px;">
				<table class="navibar">
					<tr>
						<th style="width: 400px"></th>
						<th class="navibar"><a href="/" class="navibar">Home</a></th>
						<th style="width: 50px;"></th>
						<th class="navibar"><a href="/Registration" class="navibar">Registration</a></th>
						<th style="width: 50px;"></th>
						<th class="navibar"><a href="/Portofolio" class="navibar">Portofolio</a></th>
						<th style="width: 50px;"></th>
						<th class="navibar"><a href="/Project_List" class="navibar">Project List</a></th>
						<th style="width: 400px"></th>
					</tr>
				</table>
			</div>