{% extends 'base.html' %}
{% load static %}
{% block head %}
	<title>My Profile</title>
{% endblock %}
{% block content %}
			<div class="col-sm-12">
				<h1 class="introduction">Hi</h1>
				<h1 class="introduction">I'm I Made Krisna Dwitama</h1>
				<h1 class="introduction">Front End Web Developer</h1>
				<a href="https://linkedin.com/in/krisnadwitama" target="_blank">
					<img src="{% static 'Assets/Linkedin_Logo.png' %}" class="img-fluid linkedin">
				</a>
			</div>
		</div>
		<div class="col-sm-12">
			<br>
			<h1 class="outline">ABOUT ME</h1>
			<br>
			<div class="profile_introduction">
				<h1 class="profile"><img src="{% static "Assets/foto_profil.jpg" %}" class="profile">A Computer Science student in University of
					Indonesia with experiences in Competitive Programming and has
					interests in Web Development.</h1>
			</div>
		</div>
		<div class="profile_display">
			<section class="profile_section col-sm-6">
				<h2 class="outline">PROFILE</h2>
				<p class="information">Full Name:</p>
				<p class="content">I Made Krisna Dwitama</p>
				<p class="information">Age:</p>
				<p class="content">19 Years old</p>
				<p class="information">Email:</p>
				<p class="content">krisnadwitama@gmail.com</p>
			</section>
			<section class="skills_section col-sm-6">
				<h2 class="outline">SKILLS</h2>
				<ul>
					<li class="skills">HTML, CSS</li>
					<li class="skills">C++</li>
					<li class="skills">Python</li>
				</ul>
			</section>
		</div>
		<div class="col-sm-12">
			<h1 class="outline">EDUCATIONS</h1>
			<div class="education">
				<section class="edu1 col-sm-6">
					<p class="information">Bachelor's Degree</p>
					<p class="content">August 2018 - Present</p>
					<p class="information">High School Diploma</p>
					<p class="content">July 2015 - May 2018</p>
				</section>
				<section class="edu2 col-sm-6">
					<p class="edu_info">University of Indonesia</p>
					<p class="content">​</p>
					<p class="edu_info">SMAN 4 Denpasar</p>
				</section>
			</div>
		</div>
		<div class="col-sm-12">
			<h1 class="outline">EXPERIENCES</h1>
			<div class="list">
				<ul>
					<li>Supervisor in National stage of Indonesian National Science Olympiad in Informatics 2019</li>
					<li>Prepared problems for Regency stage of Indonesian National Science Olympiad in Informatics 2019</li>
					<li>Vice Head 1 of Marketing TOS UI Bali 2019</li>
				</ul>
			</div>
			<h1 class="outline">ACHIEVEMENTS</h1>
			<div class="list">
				<ul>
					<li>Top 16 TOKI 2018</li>
					<span>TOKI stands for Tim Olimpiade Komputer Indonesia or Indonesian Computer Olympiad Team</span>
					<li>Silver medal in Indonesian National Science Olympiad in Informatics 2017</li>
					<li>3rd Winner in Informatics Logical Programming Competition at Surabaya University 2017</li>
					<li>1st Winner in Information Technology Creative Competition at Udayana University 2016</li>
					<li>Bronze medal in the Indonesian National Science Olympiad in Informatics 2016</li>
				</ul>
			</div>
			<h1 class="outline">CONTACTS</h1>
		</div>
		<div class="contacts text-center">
			<div class="col-sm-6">
				<img src="{% static "Assets/Mail_Icon.jpg" %}" class="img-fluid logo">
				<p class="contact_header">EMAIL ME AT</p>
				<p class="contact_content">krisnadwitama@gmail.com</p>
			</div>
			<div class="col-sm-6">
				<img src="{% static "Assets/Phone_Symbol.svg" %}" class="img-fluid logo">
				<p class="contact_header">CALL ME AT</p>
				<p class="contact_content">085337447273</p>
			</div>
		</div>
		<div class="feedback_button col-sm-12">
			<a href="/Feedback" target="_blank"><h2 class="outline">Do you have any feedback?</h2></a>
		</div>
{% endblock %}