{% extends 'base.html' %}
{% load static %}
{% block head %}
	<title>Portofolio</title>
{% endblock %}
{% block content %}
			<h1 class="introduction">Hi</h1>
			<h1 class="introduction">I'm I Made Krisna Dwitama</h1>
			<h1 class="introduction">Front End Web Developer</h1>
			<div class="feed">
				<br>
				<h2>This is my project portofolio form</h2>
				<br>
			</div>
		</div>
		<div class="col-sm-12">
			<form action="Portofolio" method="POST">
			    {% csrf_token %}
			    <table>
			    {{ portofolio_form.as_table }}
			    </table>
			    <br>
			    <input type="submit" value="Submit">
			</form>
			<br>
			<br>
		</div>
{% endblock %}