{% extends 'base.html' %}
{% load static %}
{% block head %}
	<title>Portofolio</title>
{% endblock %}
{% block content %}
			<h1 class="introduction">Hi</h1>
			<h1 class="introduction">I'm I Made Krisna Dwitama</h1>
			<h1 class="introduction">Front End Web Developer</h1>
			<div class="feed">
				<br>
				<h2>This is my project portofolio list</h2>
				<br>
			</div>
		</div>
		<div class="col-sm-12">
			{% for project in projects %}
			<table>
				<tr>
					<th>Project Number : {{ project.id }}</th>
				</tr>
				<tr>
					<td style="width: 250px">Judul Proyek</td>
					<td>: {{ project.judul }}</td>
				</tr>
				<tr>
					<td style="width: 250px">Tanggal mulai - tanggal selesai</td>
					<td>: {{ project.tanggal }}</td>
				</tr>
				<tr>
					<td style="width: 250px">Deskripsi Singkat Proyek</td>
					<td>: {{ project.deskripsi }}</td>
				</tr>
				<tr>
					<td style="width: 250px">Tempat</td>
					<td>: {{ project.tempat }}</td>
				</tr>
				<tr>
					<td style="width: 250px">Kategori Proyek</td>
					<td>: {{ project.kategori }}</td>
				</tr>
			</table>
			<br>
			{% endfor %}
		</div>
{% endblock %}