{% extends 'base.html' %}
{% load static %}
{% block head %}
	<title>Registration form</title>
{% endblock %}
{% block content %}
			<h1 class="introduction">Hi</h1>
			<h1 class="introduction">I'm I Made Krisna Dwitama</h1>
			<h1 class="introduction">Front End Web Developer</h1>
			<div class="feed">
				<h2>If you don't have any account</h2>
				<h2>Please sign up in this web</h2>
			</div>
		</div>
		<div class="form_field col-sm-7">
			<form>
			  <div class="form-group">
			    <label for="InputEmail" class="form_information">Email address: </label>
			    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Email">
			    <p class="email_info">We'll never share your email with anyone else.</p>
			  </div>
			  <div class="form-group">
			    <label for="InputUsername" class="form_information">Username: </label>
			    <input type="email" class="form-control" id="InputUsername" aria-describedby="emailHelp" placeholder="Username">
			  </div>
			  <div class="form-group">
			    <label for="InputPassword" class="form_information">Password: </label>
			    <input type="password" class="form-control" id="InputPassword" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
{% endblock %}